<!DOCTYPE html>
<html>
<head>
    <title>GitHub Repository Analyzer</title>
    <style>
        .input-group {
            display: inline-block;
        }
    </style>
    <script>
        function toggleForm() {
	    var repositoryRadio = document.getElementById("repositoryRadio");
            var repositoryForm = document.getElementById("repositoryForm");
            var fileForm = document.getElementById("fileForm");
	    if (repositoryRadio.checked) {
                repositoryForm.style.display = "block";
                fileForm.style.display = "none";
            } else {
                repositoryForm.style.display = "none";
                fileForm.style.display = "block";
            }
        }
    </script>
</head>
<body>
    <h1>GitHub Repository Analyzer</h1>
    <div class="input-group">
        <input type="radio" name="input_method" id="repositoryRadio" value="repository" checked onclick="toggleForm()"> Using GitHub Repository
    </div>
    <div class="input-group">
        <input type="radio" name="input_method" id="fileRadio" value="txt_file" onclick="toggleForm()"> Using TXT File contains Group of Repositories
    </div>
    <br><br>
    <form action="/analyze" method="POST">
        <div id="repositoryInput">
            <input type="text" name="repository_url" placeholder="Enter GitHub repository URL" required>
            <br><br>
            <input type="submit" name="submit" value="Generate Report">
	    <input type="hidden" name="input_method" value="repository">
        </div>
    </form>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div id="fileInput" style="display: none;">
            <input type="file" name="file">
            <br><br>
            <input type="submit" name="submit" value="Upload and Generate Report">
        </div>
    </form>
</body>
</html>
